*.exe
*.out
*.app
*.bin
*.d
*.dep
*.o
*.ko
*.obj
*.elf
*.o.d
*.ilk
*.map
*.exp
*.res
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.dSYM/
*.su
*.idb
*.pdb
*.iobj
*.ipdb
*.log
*.tlog
*.dwo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history/
*~
*.tmp
*.temp
*.swp
*.bak
[Bb]uild/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
bin/